@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  .auth-v3 {
    .form-section {
      @apply bg-white;

      .login-form,
      .register-form {
        input {
          @apply bg-softGray;
        }
        input[type='checkbox'] {
          @apply border-gray-300 checked:bg-blue-700;
        }
      }
    }

    .banner-wrapper::before {
      @apply bg-primaryBlack;
    }
    .banner-inner::before {
      @apply bg-white;
    }
  }
}

.dark {
  .auth-v3 {
    .form-section {
      @apply bg-primaryBlack;

      .logo-text {
        @apply text-white;
      }

      .login-form,
      .register-form {
        h1 {
          @apply text-white;
        }
        input {
          @apply bg-alternativeGray text-white;
        }
        input[type='checkbox'] {
          @apply bg-primaryBlack border-gray-300 checked:bg-blue-700;
        }
        .submit-btn {
          @apply bg-white text-primaryBlack;
        }
        .helper-btn {
          @apply border-white text-white;
        }
        a {
          @apply text-gray-400;
        }
        .forget-pwd {
          @apply text-gray-300;
        }
      }
    }

    .banner-section {
      @apply bg-primaryBlack;
    }

    .banner-wrapper::before {
      @apply bg-white;
    }
    .banner-inner::before {
      @apply bg-primaryBlack;
    }
  }
}

.auth-v3 {
  .banner {
    filter: url('#roundedCorner');

    &::before {
      content: '';
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      clip-path: polygon(
        0% 21%,
        30% 21%,
        30% 0,
        100% 0,
        100% 79%,
        61% 79%,
        61% 100%,
        0 100%
      );
    }
  }

  .banner-wrapper,
  .banner-inner {
    filter: url('#roundedCorner');

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      clip-path: polygon(
        0% 20%,
        29% 20%,
        29% 0,
        100% 0,
        100% 80%,
        62% 80%,
        62% 100%,
        0 100%
      );
    }
  }
}
